<%=form_for(purpose) do |f| %>

<div class="form-group">
	<%= f.label :name, "Name" %>
	<%= f.text_field :name, :class => "form-control"%>
</div>

<div class="form-group">
	<%= f.label :description, "Description" %>
	<%= f.text_area :description, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :value, "Value - R$" %>
	<%= f.text_field :value, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :start_date, "Start Date" %>
	<%= f.date_select :start_date, order: [:day, :month, :year], :class => "form-control"   %>
</div>

<div class="form-group">
	<%= f.label :end_date, "End Date" %>
	<%= f.date_select :end_date, order: [:day, :month, :year], :class => "form-control"   %>
</div>

<div class="form-group">
	<%= f.label :city %>
	<%= f.text_field :city, :class => "form-control", :id => "my-input" %>
</div>



<div class="form-group">
	<%=f.submit "Salve", class: "btn btn-primary" %>
	<%=link_to "Go Back", purposes_path, class: "btn btn-info" %>

</div>

<% end %>

<script type="text/javascript">
	$(document).ready(function() {
	  var substringMatcher = function(strs) {
	    return function findMatches(q, cb) {
	      var matches, substringRegex;

	    // an array that will be populated with substring matches
	    matches = [];

	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');

	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, str) {
	      if (substrRegex.test(str)) {
	        matches.push(str);
	      }
	    });

	    cb(matches);
	};
 };

	var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
	'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
	'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
	'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
	'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
	'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
	'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
	'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
	'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
	];

	$('#my-input').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'states',
	  source: substringMatcher(states)
	});
	});
</script>






