<%=form_for(purpose) do |f|%>

<div class="form-group">
	<%= f.label :name, "Name" %>
	<%= f.text_field :name, :class => "form-control"%>
</div>

<div class="form-group ">
	<%= f.label :description, "Description" %>
	<%= f.text_area :description, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :value, "Value - R$" %>
	<%= f.text_field :value, :class => "form-control", :style => 'width:120px;' %>
</div>

<div class="form-group">
	<%= f.label :start_date, "Start Date:" %>
	<%= f.date_select :start_date, order: [:day, :month, :year], prompt: {day: "Select a day", month: "Select a month", year: "Select a year"} %>

	<%= f.label :end_date, " End Date:" %>
	<%= f.date_select :end_date, order: [:day, :month, :year], prompt: {day: "Select a day", month: "Select a month", year: "Select a year"} %>
</div>

<div class="form-group">
	<%= f.label :city, "City: " %>
	<%= f.text_field :city, :class => "form-control", :id => "my-input", :style => "width:150px;" %>
</div>
</br>


<div class="form-group">
	<%=f.submit "Salve", class: "btn btn-primary" %>
	<%=link_to "Go Back", purposes_path, class: "btn btn-info" %>

</div>

<% end %>

<script type="text/javascript">
	$(document).ready(function() {
	  var substringMatcher = function(strs) {
	    return function findMatches(q, cb) {
	      var matches, substringRegex;

	    // an array that will be populated with substring matches
	    matches = [];

	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');

	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, str) {
	      if (substrRegex.test(str)) {
	        matches.push(str);
	      }
	    });

	    cb(matches);
	};
 };

	var states = ['Belo Horizonte', 'Betim', 'Contagem', 'Porto Alegre', 'Rio de Janeiro', 'Salvador', 'Curitiba'
	];

	$('#my-input').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'states',
	  source: substringMatcher(states)
	});
	});
</script>

<script type="text/javascript">
$(document).ready(function () {
	$("#new_purpose").validate({

		rules: {
			"purpose[name]": {required: true},
			"purpose[description]": {required: true},
			"purpose[value]": {required: true, digits: true},
			"purpose[city]": {required: true}
		},

		messages: {
			"purpose[name]": {
				required: "Please enter your name"
			},
			"purpose[description]": "Please enter a description",

			"purpose[value]": {
				required: "Please enter the value of your project",
				digits: "It must be just numbers"
			},
			"purpose[city]": {
				required: "Please enter the city"
				}

		}

	});
});
</script>









