<%= render partial: "shared/notice" %>

<h1>Purpose</h1>

<div>
	<p> <b>Name: </b> <%=@purpose.name %></p>
	<p> <b>Description: </b><%=@purpose.description %></p>
	<p> <b>Valuer: </b><%=number_to_currency(@purpose.value, unit: "R$", separator: ",", delimiter: ".") %></p>
	<p> <b>Start Date: </b><%=@purpose.start_date %></p>
	<p> <b>End Date: </b><%=@purpose.end_date %></p>
	<p> <b>City: </b><%=@purpose.city %></p>

</div>

</hr>

<%=link_to "Go Back", purposes_path, class: "btn btn-info" %>
<%=link_to "Edit", edit_purpose_path(@purpose), class: "btn btn-warning" %>
<%=link_to "Delete", @purpose, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>